* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Inter, sans-serif;
    background: #1a1a1a;
}

.app{
    width:100vw;
    height:100vh;

    display:flex;
    flex-direction:column;
}

.toolbar {
    height: 56px;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 0 16px;

    background: #2b2b2b;
    border-bottom: 1px solid #3b3b3b;
}

.toolbar button {
    padding: 8px 14px;
    background: #444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.toolbar button:hover {
    background: #5b5b5b;
}

.workspace {
    flex: 1;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.viewport {
    width: 100%;
    height: 100%;

    background: #222;

    border-right: 1px solid #3b3b3b;
}

h2 {
    color: white;
    font-weight: 500;
}


/* ===========================
   Inspector
=========================== */

.inspector {
    width: 100%;
    height: 100%;

    background: #2a2a2a;
    padding: 20px;
}

.inspector-section {
    margin-bottom: 24px;
}

.inspector-section h3 {
    color: white;
    margin-bottom: 16px;
    padding-bottom: 8px;

    border-bottom: 1px solid #444;
    font-size: 18px;
}

.stat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;

    border-bottom: 1px solid #333;

    color: #ddd;
}

.stat-row:last-child {
    border-bottom: none;
}